<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/a/" target="_blank">
    <title>ANCRAFT</title>
  </head>

  <body>
    <h1>{{uidd}}</h1>
    <h2>{{uidd}}</h2>
    <h3>{{uidd}}</h3>
  </body>
</html>
